[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=set_once
Comment=set up stuff once
Exec=sh -c ~/set_once_DE.sh
OnlyShowIn=GNOME;Xfce;KDE;LXDE;LXQT;MATE;Budgie;Cinnamon;I3
NotShowIn=GNOME;Xfce;KDE;LXDE;LXQT;MATE;Budgie;Cinnamon;I3
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
