[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=set_once_plasma
Comment=set up stuff once
Exec=konsole -e "sh -c ~/set_once_plasma.sh"
StartupNotify=false
Terminal=false
Hidden=false
